$margin-actionbar: 30px;

.actionbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    will-change: display;
    position: fixed;
    bottom: $margin-actionbar;
    right: 5vw;
    width: calc(90vw - #{$margin-actionbar * 2});
    max-width: 700px;
    background-color: $warning-color;
    color: #fff;
    border-radius: .3rem;
    width: 90vw;
    padding: .3rem;
    .fas {
        margin: 0 .5rem;
    }
    .btn {
        background-color: $warning-color;
        color: #FFF;
        border-color: #FFF;
        margin-left: .5rem;
        min-width: 90px;
        &:hover {
            background-color: darken($warning-color, 10%);
            color: #FFF;
            border-color: #FFF;
        }
        &:disabled {
            color: #ddd;
            background-color: darken($warning-color, 20%);
            border-color: #ccc;
        }
        &-primary {
            background-color: #FFF;
            color: $warning-color;
            &:hover {
                background-color: #eee;
                color: $warning-color;
                border-color: transparent;                  
            }
            &:disabled {
                background-color: #ddd;
                color: darken($warning-color, 20%);
                border-color: transparent;    
            }
        }
    }
}