.checkbox-wrapper {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    line-height: 1rem;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark {
            &:after {
                border-color: $checkbox-tick-color;
            }
        }
        &:checked ~ .checkmark:after {
            display: block;
        }
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 13px;
        width: 13px;
        background-color: $checkbox-bg-color;
        border: 1px solid $checkbox-border-color;
        border-radius: 0.3rem;
        &:after {
            left: 4px;
            top: 1px;
            width: 3px;
            height: 7px;
            border-style: solid;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            content: '';
            position: absolute;
            display: none;
        }
    }
    &:hover input ~ .checkmark {
        background-color: $checkbox-hover-bg-color;
    }
}
